pkgbase = ttf-plemoljp-bin
	pkgdesc = Plex Mono Language JP
	pkgver = 2.0.3
	pkgrel = 1
	url = https://github.com/yuru7/PlemolJP
	arch = any
	license = custom:OFL
	provides = ttf-font
	conflicts = ttf-plemoljp
	source = PlemolJP_v2.0.3.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.3/PlemolJP_v2.0.3.zip
	source = PlemolJP_NF_v2.0.3.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.3/PlemolJP_NF_v2.0.3.zip
	source = PlemolJP_HS_v2.0.3.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.3/PlemolJP_HS_v2.0.3.zip
	source = LICENSE::https://github.com/yuru7/PlemolJP/raw/v2.0.3/LICENSE
	sha256sums = 9a95404b4dea7adf77e3b487f41d6914e3de594cb38e3abd6547c587a18b6a6b
	sha256sums = cc1496750d14c0e113019b3da00e5f11a97f6de20a025ca69242a5127970a2ff
	sha256sums = 6520a6b52d3943370683e13357ce8e54e7342bd29c7358497d6ec9ea8c8e9256
	sha256sums = 52bbb5e729acc62435831d20641ece6a919e610100285ba183ef4d7233fb1e9a

pkgname = ttf-plemoljp-bin
