pkgbase = ttf-plemoljp-bin
	pkgdesc = Plex Mono Language JP
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/yuru7/PlemolJP
	arch = any
	license = custom:OFL
	provides = ttf-font
	conflicts = ttf-plemoljp
	source = PlemolJP_v2.0.0.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.0/PlemolJP_v2.0.0.zip
	source = PlemolJP_NF_v2.0.0.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.0/PlemolJP_NF_v2.0.0.zip
	source = PlemolJP_HS_v2.0.0.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.0/PlemolJP_HS_v2.0.0.zip
	source = LICENSE::https://github.com/yuru7/PlemolJP/raw/v2.0.0/LICENSE
	sha256sums = d5f98cc23dec832c63ce64904e6deec0da40d9ea97a12a9ca2510f39fa8396d7
	sha256sums = d13a584bb958470797d24d4cac12ca7b1dd76a2c5c072970aaf19e81afb07f4a
	sha256sums = 4f8a60b4df0c0c2e99472539c6e66a625858c4d6b5761600246797494be0f341
	sha256sums = 52bbb5e729acc62435831d20641ece6a919e610100285ba183ef4d7233fb1e9a

pkgname = ttf-plemoljp-bin
