pkgbase = ttf-plemoljp-bin
	pkgdesc = Plex Mono Language JP
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/yuru7/PlemolJP
	arch = any
	license = custom:OFL
	provides = ttf-font
	conflicts = ttf-plemoljp
	source = PlemolJP_v2.0.2.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.2/PlemolJP_v2.0.2.zip
	source = PlemolJP_NF_v2.0.2.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.2/PlemolJP_NF_v2.0.2.zip
	source = PlemolJP_HS_v2.0.2.zip::https://github.com/yuru7/PlemolJP/releases/download/v2.0.2/PlemolJP_HS_v2.0.2.zip
	source = LICENSE::https://github.com/yuru7/PlemolJP/raw/v2.0.2/LICENSE
	sha256sums = a1767a4e527a0a2e9b143acbe2074aace98c9985cb21cb84801fed4a7ce7599f
	sha256sums = 9f41c4928f1f18b996fd998af9c474bc521703c3a83c01ec0fc014cc1d9640f7
	sha256sums = 1f309e1247609d116f5cbc2ed01b1a269b4642105798f6507fa4e09a1844483d
	sha256sums = 52bbb5e729acc62435831d20641ece6a919e610100285ba183ef4d7233fb1e9a

pkgname = ttf-plemoljp-bin
